body {
  background-color: #f2ede8;
  color: #3b3221;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  align-content: center;
  background-color: #d1ccc0;
}

.cell {
  margin-top: 15px;
  background-color: #a3c2c2;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 48px;
  color: #3b3221;
  position: relative;
}

.cell:hover {
  background-color: #7a9c9f;
  cursor: pointer;
}

.text-container {
  padding: 20px;
  text-align: center;
}

.playerTurn,
.winning-txt {
  margin-top: 20px;
  font-size: larger;
  font-style: bold;
  font-family: fantasy;
}

.winning-txt {
  margin-top: 5px;
}

#resetBtn {
  margin-top: 20px;
  background-color: #bf9663;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: medium;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.4s;
}

#resetBtn:hover {
  background-color: #8c6b43;
}

.cell::before,
.cell::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell::before {
  content: "X";
}

.cell::after {
  content: "O";
}

.cell::before,
.cell::after {
  opacity: 0;
}

.cell.clicked::before,
.cell.clicked::after {
  opacity: 1;
}
